# MARK: - Xcode
DerivedData/
build/
*.xcworkspace
**/*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcuserstate

# MARK: - Archives & Logs
*.xcarchive
*.log
*.lldb
*.moved-aside
*.swp
*.DS_Store
